<!DOCTYPE HTML>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>starter Admin</title>
  <link rel="stylesheet" type="text/css" href="/static/bundle/home.css">
  <style>
    body {
      font-family: NanumGothicOTF, NanumGothic, Dotum, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  </style>
</head>
<body>
<div id="app">
  <home></home>
</div>
<script>
  window.__state__ = {};
</script>
<script src="/static/bundle/vendor.js"></script>
<script src="/static/bundle/home.js"></script>
</body>
</html>
